.destination-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destinations .item .img-item {
  width: 100%;
  height: 368px;
}
.destinations .item.tokyo .img-item {
  background: url(../img/tokyo-mobile.jpg);
  background-size: cover;
}
.destinations .item.osaka .img-item {
  background: url(../img/osaka-mobile.jpg);
  background-size: cover;
}

.destinations .item header h3 {
  margin: 24px 0;
}
.destinations .item p {
  margin-bottom: 24px;
}
.destinations .button {
  width: 100%;
}

/* Blog */

.destinations .item.arrival .img-item {
  background: url("../img/blog/Tokyo-arrival-tablet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 32px;
}

.destinations .item.hiroshima .img-item {
  background: url(../img/blog/Hiroshima-mobile.jpg);
  background-size: cover;
  background-position-x: center;
}

.destinations .item.kyoto .img-item {
  background: url(../img/blog/Kyoto-mobile.jpg);
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }
  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }
  .destinations .item.tokyo .img-item {
    background: url(../img/Tokyo-tablet-desktop.jpg);
    background-size: cover;
  }
  .destinations .item.osaka .img-item {
    background: url(../img/Osaka-tablet-desktop.jpg);
    background-size: cover;
  }
  .destinations .button {
    width: 280px;
  }

  /* Blog */

  .destination-items .item.arrival {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .destinations .item.arrival .img-item {
    background: url("../img/blog/Tokyo-arrival-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 312px;
    height: 360px;
  }

  .destination-items .item.arrival p {
    width: 312px;
    height: 348px;
    margin-bottom: 0;
  }

  .destinations .item.hiroshima .img-item {
    background: url(../img/blog/hiroshima-tablet.jpg);
    background-size: cover;
    background-position-x: center;
  }

  .destinations .item.kyoto .img-item {
    background: url(../img/blog/Kyoto-tablet.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }

  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }

  /* Blog */

  .destinations .item.arrival .img-item {
    background: url("../img/blog/tokyo-arrival.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 524px;
  }

  .destination-items .item.arrival {
    gap: 60px;
  }

  .blog-destinations .destination-items {
    flex-direction: row;
    align-items: flex-start;
  }

  .destinations .item.hiroshima .img-item {
    background: url(../img/blog/Hiroshima-mobile.jpg);
    background-size: cover;
    background-position-x: center;
  }

  .destinations .item.kyoto .img-item {
    background: url(../img/blog/Kyoto-mobile.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .destinations {
    width: 1200px;
  }
  .destination-items {
    flex-direction: row;
  }

  /* Blog */

  .blog-journey .destination-items {
    flex-direction: column;
  }

  .destinations .item.arrival .img-item {
    width: 600px;
  }

  .destination-items .item.arrival {
    gap: 0;
  }

  .destination-items .item.arrival p {
    width: 588px;
    line-height: 36px;
  }

  .destinations .item.tokyo.accommodation .img-item {
    background: url(../img/blog/Tokyo-blog-desktop.jpg);
    background-repeat: no-repeat;
    height: 300px;
  }
}
