.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
}

.payments .image-gallery .image.first {
  background: url(../img/bag-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.payments .image-gallery .image.second {
  background: url(../img/passport-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.payments .image-gallery .image.thirdy {
  background: url(../img/people-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.payments .image-gallery .image.colspan-2 {
  grid-column: span 2;
}
